.galeria {
    margin: 0;
    padding: 0;
    box-sizing: border-bor;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #5c74b6;
    color: #d0cfe2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    color: rgb(182, 183, 197);
    text-decoration: none;
    padding: 50px 20px;
    display: block;
    border-radius: 25px;
    transition: 0.4s;
}

.navbar ul li a:hover {
    background-color: rgb(159, 80, 80);
    color: #3c2596;
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 3);
    transform: translateY(-2px);
}




.slider{

    margin: 20px auto;
    width: 800px;
    height: 400px;
    overflow: hidden;      
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(74, 196, 55, 0.3);

}

.slider-content
{

    width: 400%;
    height: 100%;
    display: flex;
}

.slider-content input  
{
    display: none;
}

.slide-box
{
    width: 25%;
    transition: 0.6s;
}

.slide-box img
{
    width: 800px;
    height: 400px;
    object-fit: cover
} 


#radio:checked ~ ./first (margin-left: 0%;)
#radio:checked ~ ./first (margin-left: -25%;)
#radio:checked ~ ./first (margin-left: -50%;)
#radio:checked ~ ./first (margin-left: -75%;)
