.galeria {
    margin: 0;
    padding: 0;
    box-sizing: border-bor;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #5c74b6;
    color: #d0cfe2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    color: rgb(182, 183, 197);
    text-decoration: none;
    padding: 50px 20px;
    display: block;
    border-radius: 10px;
    transition: 0.4s;
}

.navbar ul li a:hover {
    background-color: rgb(49, 46, 46);
    color: #3c2596;
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 3);
    transform: translateY(-2px);
}




.slider{

    margin: 20px auto;
    width: 800px;
    height: 400px;
    overflow: hidden;      
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(74, 196, 55, 0.3);

}

.slider-content
{

    width: 400%;
    height: 100%;
    display: flex;
}

.slider-content input  
{
    display: none;
}

.slide-box
{
    width: 25%;
    transition: 0.6s;
}

.slide-box img
{
    width: 800px;
    height: 400px;
    object-fit: cover
} 


.botao {
    background-color: #292d88;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    display: inline-block;
    transition: 0.3s; /* animação suave */
}

/* Quando passar o mouse */
.botao:hover {
    background-color: #94a4fd;
    transform: scale(1.1); /* aumenta o tamanho */
}


.imagem-circular {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover; /* evita distorção */
}
.imagem-circular {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid #4A90E2; /* cor da borda */
}


#radio1:checked~.first {
    margin-left: 0;
}

/* Imagem 2: Pula a primeira (25%) */
#radio2:checked~.first {
    margin-left: -25%;
}

/* Imagem 3: pula as duas primeiras (50%) */
#radio3:checked~.first {
    margin-left: -50%;
}

/* Imagem 4: pula as três primeiras (75%) */
#radio4:checked~.first {
    margin-left: -75%;
}



/* ESTILO DOS BOTÕES MANUAIS (BOLINHAS) */
.nav-manual {
    position: absolute;
    /* POSICIONAMENTO FIXO EM RELAÇÃO AO SLIDER */
    width: 800px;
    /* Mesma largura do slider */
    margin-top: -40px;
    /* Joga as bolinhas pra dentro da imagem */
    display: flex;
    justify-content: center;
    /* Centraliza as bolinhas horizontalmente */
}

.manual-btn {
    border: 2px solid white;
    /* Borda branca para visibilidade */
    padding: 5px;
    /* Tamanho das bolinhas */
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    /* Espaçamento entre as bolinhas */
    transition: 0.3s;
    /* Suaviza a mudança de cor no hover */
}

.manual-btn:hover {
    background-color: rgb(255, 255, 255);
}


/* ESTILIZAÇÃO DO RODAPÉ DA PÁGINA */
.rodape-principal {
    background-color: #0b50856f;
    color: #ffffff;
    padding: 40px 0 20px 0;
    margin-top: 50px;
}
.container-rodape{
display: flex;
justify-content:space-around;
align-items: center;
flex-wrap: wrap;
max-width: 1200px;
margin: 0 auto;
}
.links-sociais a
{
color:#ffffff;
text-decoration: none;
margin: 0 15px;
font-weight: bold;
transition: 0.3s;
}
.links-sociais a:hover{
    color:blue;
    text-shadow: 0 0 5px(255,255,255,0.2);
}
.rodape-inferior{
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 30px;
    padding-top: 20px;
    font-size: 12px;
    opacity: 0.6;
}
.info-copyright p{
    text-align: center;
    margin: 5px 0;
}
